 NET video_sda         LOC = Y11  | IOSTANDARD=LVCMOS33 | PULLUP;  # "JA1"
 NET video_scl         LOC = AA11 | IOSTANDARD=LVCMOS33 | PULLUP;  # "JA2"
 NET video_clk         LOC = AA9  | IOSTANDARD=LVCMOS33 | CLOCK_DEDICATED_ROUTE = TRUE ;  # "JA4" 
 
 NET video_data_I2C<0> LOC = W12  | IOSTANDARD=LVCMOS33;  # "JB1"
 NET video_data_I2C<2> LOC = W11  | IOSTANDARD=LVCMOS33;  # "JB2"
 NET video_data_I2C<4> LOC = V10  | IOSTANDARD=LVCMOS33;  # "JB3"
 NET video_data_I2C<6> LOC = W8   | IOSTANDARD=LVCMOS33;  # "JB4"
 NET video_data_I2C<1> LOC = V12  | IOSTANDARD=LVCMOS33;  # "JB7"
 NET video_data_I2C<3> LOC = W10  | IOSTANDARD=LVCMOS33;  # "JB8"
 NET video_data_I2C<5> LOC = V9   | IOSTANDARD=LVCMOS33;  # "JB9"
 NET video_data_I2C<7> LOC = V8   | IOSTANDARD=LVCMOS33;  # "JB10"
 
 NET b_out<0>          LOC = Y21  | IOSTANDARD=LVCMOS33;  # "VGA-B1"
 NET b_out<1>          LOC = Y20  | IOSTANDARD=LVCMOS33;  # "VGA-B2"
 NET b_out<2>          LOC = AB20 | IOSTANDARD=LVCMOS33;  # "VGA-B3"
 NET b_out<3>          LOC = AB19 | IOSTANDARD=LVCMOS33;  # "VGA-B4"
 NET g_out<0>          LOC = AB22 | IOSTANDARD=LVCMOS33;  # "VGA-G1"
 NET g_out<1>          LOC = AA22 | IOSTANDARD=LVCMOS33;  # "VGA-G2"
 NET g_out<2>          LOC = AB21 | IOSTANDARD=LVCMOS33;  # "VGA-G3"
 NET g_out<3>          LOC = AA21 | IOSTANDARD=LVCMOS33;  # "VGA-G4"
 NET r_out<0>          LOC = V20  | IOSTANDARD=LVCMOS33;  # "VGA-R1"
 NET r_out<1>          LOC = U20  | IOSTANDARD=LVCMOS33;  # "VGA-R2"
 NET r_out<2>          LOC = V19  | IOSTANDARD=LVCMOS33;  # "VGA-R3"
 NET r_out<3>          LOC = V18  | IOSTANDARD=LVCMOS33;  # "VGA-R4"
 NET hsync             LOC = AA19 | IOSTANDARD=LVCMOS33;  # "VGA-HS"
 NET vsync             LOC = Y19  | IOSTANDARD=LVCMOS33;  # "VGA-VS"
                  
 NET mode_SW           LOC = H17  | IOSTANDARD=LVCMOS18;  # "SW6"  
 NET rst               LOC = M15  | IOSTANDARD=LVCMOS18;  # "SW7"   